@import '~antd/lib/style/themes/default.less';

.card {
  margin-bottom: 5px;
  box-shadow: 0 3px 5px #bbb;
}



.chargeListTable{
  .rowSelect{
    background-color :rgb(233,248,255)
  }
  .rowFlush{
    color:rgb(230,0,0);
  }
}
