@import '~antd/lib/style/themes/default.less';

.card {
  margin-bottom: 50px; 
}

.cardnarrow {
  margin-bottom: 15px; 
}

.chargeListTable{
  .rowSelect{
    background-color :rgb(233,248,255)
  }
  .rowRed{
    color:rgb(230,0,0);
  }
}
